<div class="course" *ngIf="course">
  <div class="course-title">
    <button mat-button routerLink="/courses">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="title"> {{ course.title }}</div>
  </div>
  <div class="course-wrapper">
    <div class="video">
      <img [src]="course.lessons[0].previewImageLink + '/lesson-' + course.lessons[0].order + '.webp'" alt="Lesson" >
      <div class="info-item"><span class="point">Lessons:</span>
        <div class="lessons-list">
          <p class="lesson" *ngFor="let item of course.lessons">
            <span class="lesson-part"> {{ item.order }}. </span><span class="lesson-part"> {{ item.title }}</span> <mat-icon class="lock" *ngIf="item.status === 'unlocked'" matTooltip="This lesson is locked" matTooltipPosition="above">lock</mat-icon>
          </p>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="rating info-item"><span class="point">Rating:</span>
        <ngx-stars
        class="starts"
        [readonly]="true"
        [initialStars]="course.rating"
        matTooltipPosition="above"
        [matTooltip]="(course.rating).toString()"
        customSize="1.2rem"
      ></ngx-stars>
      </div>
      <p class="description info-item"><span class="point">Description: </span> {{ course.description }}</p>
      <div class="skills info-item"><span class="point">Skills:</span>
        <ul>
          <li *ngFor="let item of course.meta.skills"> {{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!course && !isHideCourse">
  <div class="reload">Try to reload page <mat-icon>sync</mat-icon></div>
</div>
<div class="blur" *ngIf="isHideCourse">
  <mat-spinner class="spinner" color=""></mat-spinner>
</div>

